{% extends '::base.html.twig' %}
{# Page content #}
{% block body %}
    {# Page content #}
    <section id="content" class="container clearfix">
        {% block page_title %}
            <header class="page-header">
                <h1 class="page-title">Hibabejelentés</h1>
            </header><!-- end .page-header -->
        {% endblock %}
        {% include "MakaiSystemMessagesBundle::flashes.html.twig" %}
        {% block content %}{% endblock %}
    </section>
{% endblock %}