{# vissza a listához gomb #}
<div class="control-group">
    <div class="controls">
        <a href="{{ url }}" class="btn"><span class="glyphicon glyphicon-arrow-left"></span>{{ 'admin.button.back_to_list'|trans }}</a>
    </div>
</div>