{# szerkesztés gomb #}
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok-sign"></span>{{ 'admin.button.modify'|trans }}
        </button>
    </div>
</div>