{# keresőpanel lenyitó link #}
<a class="accordion-toggle" data-toggle="collapse" data-parent="#searchbar" href="#searchFilters">
    {{ 'admin.button.search'|trans }}<span class="glyphicon glyphicon-chevron-down"></span>
</a>