{# mentés gomb #}
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok-icon"></span>{{ 'admin.button.save'|trans }}
        </button>
    </div>
</div>