{# Keresés gomb #}
<button class="btn btn btn-primary"  type="submit" name="submit-filter" value="filter">
    <span class="glyphicon glyphicon-search"></span>{{ 'admin.button.search'|trans }}
</button>