{# admin oldali kereső panel #}
<div class="accordion" id="searchbar">
    <div class="accordion-group">
        <div class="accordion-heading">
            {# keresőpanel lenyitó link #}
            {{ include( 'MakaiSystemMessagesBundle:Helpers:buttons/open_search_panel_link.html.twig' ) }}
        </div>
        <div id="searchFilters" class="accordion-body collapse">
            <div class="accordion-inner">
               <form method="get" action="{{ url }}" class="filter_form">
                    <div class="form-group">
                        {{ form_label(form.createdAt) }}
                        {{ form_errors(form.createdAt) }}
                        <div class="input-daterange input-group" id="datepicker">
                            {{ form_widget(form.createdAt.left_date) }}
                            <span class="input-group-addon">{{ 'daterange.delimiter'|trans }}</span>
                            {{ form_widget(form.createdAt.right_date) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <p class="search_filter_button">
                        {# keresés gomb #}
                        {{ include( 'MakaiSystemMessagesBundle:Helpers:buttons/search_button.html.twig' ) }}
                    </p>
                    <input type="hidden" name="export_format" value="" id="export_format" />
                    <input type="hidden" name="export" id="export" value="0" />
                </form>
            </div>
        </div>
    </div>
</div>