<form method="get" action="." class="export_form form-horizontal">
    <div class="btn-group">
        <a class="btn dropdown-toggle reset pull-right muted" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-share"></span>{% trans %}button.export{% endtrans %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" title="" class="export_type" data-export-attr="xls"><span class="glyphicon glyphicon-file"></span>{% trans %}export.format.xls{% endtrans %}</a></li>
            <li><a href="#" title="" class="export_type" data-export-attr="csv"><span class="glyphicon glyphicon-file"></span>{% trans %}export.format.csv{% endtrans %}</a></li>
            <li><a href="#" title="" class="export_type" data-export-attr="html"><span class="glyphicon glyphicon-file"></span>{% trans %}export.format.html{% endtrans %}</a></li>
        </ul>
    </div>
    <input type="hidden" name="export" value="export" />
</form>