Hibabejelentés részletei:

{{ 'form.system_message.email'|trans }}: {{ "now" | date("Y-m-d H:i") }}.

{{ 'form.system_message.country'|trans }}: {{ entity.country }}

{{ 'form.system_message.instrument'|trans }}: {{ entity.instrument }}

{{ 'form.system_message.browser'|trans }}: {{ entity.browser }}

{{ 'form.system_message.operationSystem'|trans }}: {{ entity.operationSystem }}

{{ 'form.system_message.internetService'|trans }}: {{ entity.internetService }}

{{ 'form.system_message.internetSpeed'|trans }}: {{ entity.internetSpeed }}

{{ 'form.system_message.description'|trans }}:
{{ entity.description }}

{{ 'form.system_message.detectedInfo'|trans }}:

{{ entity.detectedInfo|raw }}
