{% extends 'MakaiSystemMessagesBundle::layout.html.twig' %}
{% block stylesheets %}
    <style type="text/css">
        .page-header{
            margin-bottom: 10px;
        }
    .description{
        font-style: italic;
        font-size: 13px;
    }
   </style>
{% endblock %}
{% block page_title %}
    <header class="page-header">
        <h1 class="page-title">{{ 'admin.system_message_edit.title'|trans }}</h1>
    </header><!-- end .page-header -->
{% endblock %}
{% block content %}
    {{ form_start(edit_form, {'action': path('admin_systemmessages_update', { 'id': entity.id }), 'method': 'POST', 'attr' : {'class' : '' }}) }}
	{{ form_errors(edit_form) }}	
	    <div>
		<h4>{{ 'form.system_message.description'|trans }}</h4>
		<blockquote>
		{{ edit_form.vars.value.description }}
		</blockquote>
	    </div>
        {{ form_rest(edit_form) }}
        {# mentés gomb #}
        {{ include( 'MakaiSystemMessagesBundle:Helpers:buttons/edit_button.html.twig' ) }}
        {# vissza a listához gomb #}
        {{ include( 'MakaiSystemMessagesBundle:Helpers:buttons/back_to_list_button.html.twig', { 'url':  path('admin_systemmessages')  } ) }}
    {{ form_end(edit_form) }}
{% endblock %}
