{% extends 'MakaiSystemMessagesBundle::layout.html.twig' %}
{% block page_title %}
    <header class="page-header">
        <h1 class="page-title">{{ 'admin.system_message_list.title'|trans }}</h1>
    </header><!-- end .page-header -->
{% endblock %}
{% block content %}
    <div class="pagination_total_count">
        <span>{{ 'admin.list.pagination.pagination_total_count'|trans }}:</span> {{ pagination.getTotalItemCount|number_format(0, '.', ' ')  }} db
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <br style="clear:both;">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination,'admin.list.field.id'|trans, 'sm.id')|raw }}</th>
            <th>{{ knp_pagination_sortable(pagination,'admin.list.field.email'|trans, 'sm.email')|raw }}</th>
            <th>{{ knp_pagination_sortable(pagination,'admin.list.field.created_at'|trans, 'sm.createdAt')|raw }}</th>
            <th>{{ 'admin.list.field.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr {% if entity.isClosed %}class="success"{% endif %}>
                <td><a href="{{ path('admin_systemmessages_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.createdAt|date("Y-m-d H:i", app.request.cookies.get("timezone")) }}</td>
                <td>
                    <ul>
                        <li>
				<a href="{{ path('admin_systemmessages_show', { 'id': entity.id }) }}" class="btn btn-primary">
				    <span class="glyphicon glyphicon-eye-open"></span> {{ 'admin.button.show'|trans }}
				</a>
                        </li>
                        <li>
				<a href="{{ path('admin_systemmessages_edit', { 'id': entity.id }) }}" class="btn btn-primary">
				    <span class="glyphicon glyphicon-edit"></span> {{ 'admin.button.edit'|trans }}
				</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}