{% extends 'MakaiSystemMessagesBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.session = {start: function(sess){ }}

        $( ".sendFeedBack" ).click(function( e ){
            e.preventDefault();
            $("#makai_systemmessagesbundle_systemmessagestype_detectedInfo").val(JSON.stringify(window.session));
            $(this).closest("form").submit();
        });

    </script>
    <script src="{{ asset('bundles/makaisystemmessages/js/session-0.4.min.js') }}" type="text/javascript"></script>
{% endblock %}
{% block page_title %}
    <header class="page-header">
        <h1 class="page-title">{{ 'headermenu.system_message.title'|trans }}</h1>
    </header><!-- end .page-header -->
{% endblock %}
{% block content %}
    {{ form_start(form, {'action': path('systemmessages_create'), 'method': 'POST', 'attr' : {'class' : '' }}) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
	<div class="control-group">
	    <div class="controls">
		<button type="submit" class="btn btn-primary">
		    <span class="glyphicon glyphicon-ok-icon"></span>{{ 'form.system_message.send'|trans }}
		</button>
	    </div>
	</div>
    {{ form_end(form) }}
{% endblock %}