{% extends 'MakaiSystemMessagesBundle::layout.html.twig' %}
{% block content %}
<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>{{ 'admin.list.field.id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'admin.list.field.created_at'|trans }}</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'form.system_message.email'|trans }}</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>{{ 'form.system_message.country'|trans }}</th>
            <td>{{ entity.country }}</td>
        </tr>
        <tr>
            <th>{{ 'form.system_message.instrument'|trans }}</th>
            <td>{{ entity.instrument }}</td>
        </tr>
        <tr>
            <th>{{ 'form.system_message.browser'|trans }}</th>
            <td>{{ entity.browser }}</td>
        </tr>
        <tr>
            <th>{{ 'form.system_message.operationSystem'|trans }}</th>
            <td>{{ entity.operationSystem }}</td>
        </tr>
        <tr>
            <th>{{ 'form.system_message.internetService'|trans }}</th>
            <td>{{ entity.internetService }}</td>
        </tr>
        <tr>
            <th>{{ 'form.system_message.internetSpeed'|trans }}</th>
            <td>{{ entity.internetSpeed }}</td>
        </tr>
        <tr>
            <th>{{ 'form.system_message.description'|trans }}</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Json formater</th>
            <td><a href="http://jsonformatter.curiousconcept.com/" target="_blank">json formater</a></td>
        </tr>
        <tr>
            <th>{{ 'form.system_message.detectedInfo'|trans }}</th>
            <td>{{ entity.detectedInfo|raw }}</td>
        </tr>
    </tbody>
</table>
{# vissza a listához gomb #}
{{ include( 'EuropestreamUserBundle:Helpers:buttons/back_to_list_button.html.twig', { 'url':  path('admin_systemmessages')  } ) }}

{% endblock %}
